<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/song.css">
</head>

<body>
    <%- include("../includes/nav.ejs") %>
    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
    </main>
    <form class="song-form" action="/admin/create-playlist" method="POST">
        <div class="form-control">
            <label for="playlistName">Playlist Name</label>
            <input
                class="<%= validationErrors.find(e => e.param === 'playlistName') ? 'invalid': '' %>" 
                type="text"
                name="playlistName"
                id="playlistName"
                value="<% if (hasError) { %><%= playlist.playlistName %><% } %>">
        </div>
        <div class="form-control">
            <label for="imageUrl">Image URL</label>
            <input
                class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid': '' %>" 
                type="text"
                name="imageUrl"
                id="imageUrl"
                value="<% if (hasError) { %><%= playlist.imageUrl %><% } %>">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">Create Playlist</button>
    </form>
</body>

<%- include("../includes/end.ejs") %>